/* Overall */
body {
  margin: 0 auto;
  width: 800px;
  justify-content: center;
}

/* Banner Section */

#hero-img {
  width: 100%;
}

/* Menu Section */

.menu-item-container {
  display: flex;
  margin: 30px;
  align-items: center;
}

.menu-item-emoji {
  font-size: 80px;
  padding-right: 20px;
}

.menu-item-text {
  font-family: "Smythe", serif;
  margin: 3px 3pxq;
}
/* Styling for elements inside the Text */
.menu-item-name {
  font-weight: lighter;
  font-size: 30px;
  font-style: normal;
}

.ingredients {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 100;
}

.price {
  font-size: 26px;
  font-weight: lighter;
}
/* Button styling */
.menu-item-btn {
  margin-left: auto;
  margin-right: 15px;
}

.menu-button {
  border: 0px;
  background-color: white;
}

.fa-circle-plus {
  font-size: 40px;
  color: #8b8b8b;
}

.fa-circle-plus:hover {
  color: aquamarine;
}

.divider {
  border: none;
  border-top: 1px solid lightgray;
  margin: 10px auto;
  width: 90%;
}

/* Order Container Styling */

.order-container {
  font-family: "Smythe", serif;
}

.order-title-container {
  font-family: "Smythe", serif;
  text-align: center;
  font-weight: lighter;
}

.order-item {
  display: flex;
  justify-content: space-between;
}

.order-name {
  padding-left: 65px;
  font-family: "Smythe", serif;
  font-size: 28px;
}

.order-price {
  font-family: "Smythe", serif;
  font-size: 28px;
  padding-right: 65px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-family: "Smythe", serif;
}

.text-price {
  padding-left: 55px;
  font-size: 32px;
}

.order-total-price {
  padding-right: 55px;
  font-size: 30px;
  font-weight: 100;
}